!!! 5
%html
	%head
		%title RubyDay
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/home.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button.current{:href => "/"} home
					%li
						%a.button{:href => "programma.html"} programma
					%li
						%a.button{:href => "location.html"} location
					%li
						%a.button{:href => "partecipa.html"} partecipa
					%li
						%a.button{:href => "speakers.html"} speakers
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.logo
			.motto
				%h2 Vogliamo diffondere la conoscenza sull'ecosistema di Ruby in Italia.
				%h3 Rubyday si terrà il 10 giugno 2011 all'Università degli Studi di Milano-Bicocca.
			.content
				.section
					%h2 Partecipa
					%p La partecipazione all'evento è vincolata alla registrazione tramite Eventbrite.
					%a{:href => "http://italianrubyday11.eventbrite.com/"} italianrubyday11.eventbrite.com/
				.section
					%h2 Call for Papers
					%p Hai conosciuto una nuova gemma e vuoi spiegarci perché non possiamo farne a meno? Vuoi fare un talk?
					%a{:href => "mailto:cfp@rubyday.it"} cfp@rubyday.it
				.section
					%h2 Sponsors
					%p L'evento è gratuito, organizzato da professionisti per professionisti. Sei interessato a sponsorizzare l'evento?
					%a{:href => "mailto:sponsor@rubyday.it"} sponsor@rubyday.it
		%h2 Sponsors
		.sponsors
			.sponsor
				%a{:href => "http://www.mikamai.com?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
					%img{:src => "images/mikamai.png", :alt => "Mikamai"}
			.sponsor
				%a{:href => "http://www.xpeppers.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
					%img{:src => "images/xpeppers.png", :alt => "XPeppers"}
			.sponsor
				%a{:href => "http://www.jetbrains.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
					%img{:width => 250, :height => 96, :src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt => "JetBrains"}
			.sponsor
				%a{:href => "http://www.pragprog.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
					%img{:src => "images/pragmaticbookshelf.png", :alt => "Pragmatic Bookshelf"}
		.footer
			%nav
				%ul.footer-nav
					%li 
						%a{:href => "/"} Home
					%li 
						%a{:href => "dove.html"} Dove
					%li
						%a{:href => "contatti.html" } Contatti