!!! 5
%html
	%head
		%title RubyDay
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/sponsor.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "programma.html"} programma
					%li
						%a.button{:href => "location.html"} location
					%li
						%a.button{:href => "partecipa.html"} partecipa
					%li
						%a.button.current{:href => "speakers.html"} speakers
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.logo
			.motto
				%h1 Vogliamo diffondere la conoscenza sull'ecosistema di Ruby in Italia.
			.content

		.footer