!!! 5
%html
	%head
		%title Symfony2 and RoR3: friends for an hour
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button.current{:href => "../programma.html"} programma
					%li
						%a.button{:href => "../location.html"} location
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button{:href => "../speakers.html"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Symfony2 and RoR3: friends for an hour
				.talk-section
					%h2 
						Speakers: 
						%a{href: "../speakers/alessandro-cinelli.html"}
							Alessandro Cinelli
						,
						%a{href: "../speakers/sandro-paganotti.html"}
							Sandro Paganotti
						,
						%a{href: "../speakers/alberto-barrila.html"}
							Alberto Barrilà
					%p		
						Il talk è focalizzato sulla spiegazione delle princiapli differenze/similitudini fra questi due web framework mainstream. Adotteremo un approccio Top-Down parallelo nel quale gli aspetti di maggior importanza di entrambi i framnework verrannò descritti uno per uno a partire da quelli più infrastrutturali fino ad arrivare a quell prevalentemente inmplementativi. Nella parte conclusiva dello speech ci focalizzeremo nel mostrare le filosofie dietr questi framenwork espondendo le feature più interessanti di entrambi i mondi.
					%p
						Tre speakers parteciperanno a questo speech. ognuno avrà un particolare ruolo: Alessandro, essendo PHP developer, si occuperà di approfondire glia spetti implementativi di Symfony2; Sandro è un hacker ruby di vecchia data, che conosce e governa le technicalities del framework Rails; Alberto è il cialtrone (o più comunemente moderatore, nei circoli più mondani) che cercherà di fare da collante fra i due lati della forza.
				.sponsor-section
					%h2
						Sponsors
					.sponsor
						%a{:href => "http://www.mikamai.com?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
							%img{:src => "../images/mikamai.png", :alt => "Mikamai"}
					.sponsor
						%a{:href => "http://www.xpeppers.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
							%img{:src => "../images/xpeppers.png", :alt => "XPeppers"}
					.sponsor
						%a{:href => "http://www.jetbrains.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
							%img{:width => 250, :height => 96, :src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt => "JetBrains"}
					.sponsor
						%a{:href => "http://www.pragprog.com/?utm_source=RubyDay&amp;utm_medium=website&amp;utm_campaign=rubydaysponsorship"}
							%img{:src => "../images/pragmaticbookshelf.png", :alt => "Pragmatic Bookshelf"}
