@import partials/base
@import partials/header
@import partials/footer


body > .container
	margin-bottom: 30px

	> .content
		margin-top: 100px
		> *
			> #programma
				width: 90%
				border-spacing: 5px
				border-width: 0px
				border-collapse: separate
				margin: 30px

				> * > tr.grey
					background-color: #DBDBDB
				
					> .hours
						font-weight: $boldFont
			
				> * > tr
					height: 40px				
				
					> .pausa				
						text-align: center
						font-weight: $boldFont
				
					> th
						text-align: center
						font-weight: $boldFont
						background-color: $red
						color: $white
					
					> .hours
						width: 10%
						text-align: right
						padding-right: 4px
					> .track
						width: 45%
.keynote
	text-align: center